In [2]:
import pandas as pd
import numpy as np

In [3]:
url='https://raw.githubusercontent.com/skathirmani/datasets/main/naukri_jobs_datascience.csv'
jobs=pd.read_csv(url)
jobs.shape

(4000, 11)

In [13]:
jobs.head(5)

,id,title,location,experience,skills,company,salary,description,posted_date,type,url,min_experience
0,280918001664,Data Science,Mumbai,2-4 yrs,"Algorithms, Machine Learning, Python, Java, Da...",Netcore Solutions Pvt Ltd,"2,00,000 - 7,00,000 P.A.",At least 2 year of experience in data engineer...,1 day ago,hotjob,https://www.naukri.com/job-listings-Data-Scien...,2
1,280818003404,Analyst / Sr. Analyst (data Science),Gurgaon,5-8 yrs,"predictive modeling, predictive analytics, mac...",Cvent India Pvt. Ltd.,"5,00,000 - 10,00,000 P.A.",Strong experience on providing predictive mode...,Today,hotjob,https://www.naukri.com/job-listings-Analyst-Sr...,5
2,280918008755,ETL Lead & Data Science,"Chennai, Bengaluru, Mumbai, Pune, Noida",7-10 yrs,"SQL, Data Analysis, Text Mining, SAS, R, Stati...",COMPUTER POWER GROUP PRIVATE LIMITED,"10,00,000 - 15,00,000 P.A.",Industry experience in building and operationa...,1 day ago,hotjob,https://www.naukri.com/job-listings-ETL-Lead-D...,7
3,270918901342,Specialist - Data Science,"Delhi NCR, Bengaluru, Gurgaon",7-12 yrs,"Specialist - Data Science, Data Science, data ...",Brainsearch Consulting Pvt Ltd.Â,Not disclosed,- Experience with one or more data science pro...,1 day ago,premium,https://www.naukri.com/job-listings-Specialist...,7
4,260918002450,Group Manager - Data Science - Python/nlp,Bengaluru,6-11 yrs,"machine learning, text mining, r, nlp, data sc...",Staffio HR,Not disclosed,- This is a Team management role - Skill set ...,1 day ago,premium,https://www.naukri.com/job-listings-Group-Mana...,6

In [ ]:
# Exercises

# Extract minimum years of experince required for each job and store in new column min_experience
# Identify for each job,count the number of location

In [14]:
jobs['min_experience']=jobs['experience'].dropna().apply(lambda v:v.split(' ')[0].split('-')[0])
#jobs['max_experience']=jobs['experience'].dropna().apply(lambda v: v.split('')[0].split('-')[1])

In [15]:
jobs['experience'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
3995    False
3996    False
3997    False
3998    False
3999    False
Name: experience, Length: 4000, dtype: bool

In [16]:
jobs['no_of_location']=jobs['location'].apply(lambda v:len(v.split(',')))   
jobs['no_of_location'].value_counts().sort_index()

1    3601
2     275
3     102
4      10
5       6
6       5
9       1
Name: no_of_location, dtype: int64

In [19]:
jobs['salary'].unique()

array(['    2,00,000 - 7,00,000 P.A.  ',
       '    5,00,000 - 10,00,000 P.A.  ',
       '    10,00,000 - 15,00,000 P.A.  ', '  Not disclosed ',
       '    2,00,000 - 4,25,000 P.A.  ', '    4,00,000 - 8,00,000 P.A.  ',
       '    1,00,000 - 3,00,000 P.A.  ', '    1,25,000 - 3,00,000 P.A.  ',
       '    1,25,000 - 4,00,000 P.A. Best salary as per Industry & ...  ',
       '    2,50,000 - 7,50,000 P.A.  ', '    4,00,000 - 7,50,000 P.A.  ',
       '    22,50,000 - 35,00,000 P.A.  ',
       '    12,00,000 - 18,00,000 P.A.  ',
       '    13,00,000 - 20,00,000 P.A.  ',
       '    3,00,000 - 8,00,000 P.A. 40%  ',
       '    8,00,000 - 10,00,000 P.A.  ',
       '    1,00,000 - 4,00,000 P.A.  ', '    50,000 - 2,00,000 P.A.  ',
       '    7,00,000 - 17,00,000 P.A.  ',
       '    6,00,000 - 12,00,000 P.A.  ',
       '    10,00,000 - 20,00,000 P.A.  ', '    Rs. 1.50 Lac/month  ',
       '    PB-3 Rs15600-39100 with minimum pay of Rs30000 + AGP of...  ',
       '    Fellowship amount is Rs.60,000/- per month  ',
       '    Pay Scale: Pay Band : Rs.37400-67000(minimum pay of Rs....  ',
       '    Pay Scale: Academic Grade Pay: Rs. 7000- Pay Band (Rs.)...  ',
       '    PB-3 Rs. (15600-39100) + Academic Grade Pay Rs. 8000/-  ',
       '    Not disclosed  ',
       '    Minimum Basic Pay Rs.101500/- (Academic Pay Level 12 an...  ',
       '    Pay Level/Pay Band:Minimum Basic Pay Rs.57700/- or 6890...  ',
       '    Minimum Basic Pay: Rs.139600/- (Academic Pay Level 13A2...  ',
       '    Pay Level 12 (Rs.101500-167400) with minimum Pay of Rs....  ',
       '    PB-3 with Grade Pay of Rs. 7000/-  ',
       '    PB-3 with Grade Pay of Rs. 6000/-+ 07 additional non-co...  ',
       '    4,00,000 - 6,00,000 P.A.  ',
       '    7,00,000 - 12,00,000 P.A.  ',
       '    20,00,000 - 25,00,000 P.A.  ',
       '    30,00,000 - 40,00,000 P.A.  ',
       '    4,00,000 - 9,00,000 P.A. DOE  ',
       '    50,000 - 3,00,000 P.A.  ', '    4,00,000 - 7,00,000 P.A.  ',
       '    14,00,000 - 24,00,000 P.A.  ',
       '    12,00,000 - 15,00,000 P.A.  ',
       '    15,00,000 - 30,00,000 P.A.  ',
       '    10,00,000 - 14,00,000 P.A.  ',
       '    45,00,000 - 50,00,000 P.A.  ',
       '    15,00,000 - 25,00,000 P.A. skype Interview available  ',
       '    9,50,000 - 18,00,000 P.A.  ',
       '    6,00,000 - 7,00,000 P.A.  ',
       '    15,00,000 - 22,50,000 P.A.  ',
       '    10,00,000 - 16,00,000 P.A.  ',
       '    8,00,000 - 18,00,000 P.A.  ',
       '    20,00,000 - 35,00,000 P.A. +perks & Benefits  ',
       '    5,00,000 - 15,00,000 P.A.  ',
       '    16,00,000 - 31,00,000 P.A.  ',
       '    2,75,000 - 6,00,000 P.A.  ',
       '    50,000 - 1,75,000 P.A. Salary as Per Skills & Industry  ',
       '    1,25,000 - 2,50,000 P.A.  ',
       '    6,00,000 - 15,00,000 P.A. other  ',
       '    4,00,000 - 9,00,000 P.A.  ',
       '    8,00,000 - 16,00,000 P.A.  ',
       '    25,00,000 - 40,00,000 P.A. Salary is not a bar for righ...  ',
       '    7,00,000 - 13,00,000 P.A.  ',
       '    2,75,000 - 7,75,000 P.A.  ',
       '    5,00,000 - 11,00,000 P.A. Good as per the market  ',
       '    35,00,000 - 55,00,000 P.A. Competitive Remuneration Pac...  ',
       '    9,50,000 - 19,50,000 P.A.  ',
       '    18,00,000 - 30,00,000 P.A.  ',
       '    2,00,000 - 5,50,000 P.A.  ', '    3,50,000 - 5,50,000 P.A.  ',
       '    50,00,000 - 1 Cr & above P.A.  ',
       '    2,25,000 - 2,50,000 P.A.  ',
       '    8,00,000 - 18,00,000 P.A. Exceptional package offered f...  ',
       '    12,00,000 - 20,00,000 P.A.  ',
       '    18,00,000 - 20,00,000 P.A.  ',
       '    12,00,000 - 18,00,000 P.A. Plus Variables  ',
       '    20,00,000 - 35,00,000 P.A.  ',
       '    18,00,000 - 25,00,000 P.A.  ',
       '    9,00,000 - 18,00,000 P.A.  ', '    90,000 - 1,00,000 P.A.  ',
       '    19,00,000 - 30,00,000 P.A.  ',
       '    8,00,000 - 13,00,000 P.A.  ',
       '    11,00,000 - 19,00,000 P.A.  ',
       '    7,00,000 - 11,00,000 P.A.  ',
       '    3,00,000 - 5,00,000 P.A.  ',
       '    5,00,000 - 12,00,000 P.A.  ',
       '    5,50,000 - 15,50,000 P.A.  ',
       '    16,00,000 - 25,00,000 P.A.  ',
       '    35,00,000 - 55,00,000 P.A.  ',
       '    27,50,000 - 40,00,000 P.A.  ',
       '    6,00,000 - 13,00,000 P.A.  ',
       '    5,50,000 - 7,50,000 P.A. Negotiable  ',
       '    1,50,000 - 3,75,000 P.A.  ',
       '    8,00,000 - 16,00,000 P.A. Insurance and Other Statutory...  ',
       '    10,00,000 - 16,00,000 P.A. Best in the Industry  ',
       '    40,00,000 - 70,00,000 P.A.  ',
       '    15,00,000 - 18,00,000 P.A.  ',
       '    11,00,000 - 13,00,000 P.A.  ',
       '    15,00,000 - 25,00,000 P.A. Excellent benefits & perks. ...  ',
       '    27,50,000 - 42,50,000 P.A.  ',
       '    15,00,000 - 25,00,000 P.A.  ',
       '    1,00,000 - 6,00,000 P.A.  ',
       '    14,00,000 - 22,50,000 P.A.  ',
       '    6,00,000 - 8,00,000 P.A.  ', '    1,25,000 - 1,50,000 P.A.  ',
       '    3,00,000 - 8,00,000 P.A.  ',
       '    6,00,000 - 11,00,000 P.A.  ',
       '    3,00,000 - 6,00,000 P.A.  ',
       '    30,00,000 - 40,00,000 P.A. GBP Â£ 30000 - Â£ 40000  ',
       '    12,00,000 - 22,00,000 P.A.  ', '    1,00,000 & above P.A.  ',
       '    1,50,000 - 5,50,000 P.A.  ',
       '    15,00,000 - 20,00,000 P.A. 75.00 LPA - 90.00 LPA  ',
       '    3,00,000 - 5,50,000 P.A.  ',
       '    30,00,000 - 45,00,000 P.A. As per company policy  ',
       '    1,25,000 - 4,00,000 P.A. Yearly Bonuses  ',
       '    8,50,000 - 14,00,000 P.A.  ',
       '    1,75,000 - 2,75,000 P.A.  ',
       '    2,25,000 - 5,00,000 P.A. Interested candidates need to ...  ',
       '    1,00,000 - 5,00,000 P.A.  ', '    4,75,000 - 6,00,000 P.A.  ',
       '    5,00,000 - 7,00,000 P.A.  ', '    3,75,000 - 5,00,000 P.A.  ',
       '    25,00,000 - 40,00,000 P.A.  ',
       '    30,00,000 - 45,00,000 P.A. Best in the industry  ',
       '    15,00,000 - 20,00,000 P.A.  ',
       '    20,00,000 - 27,50,000 P.A.  ',
       '    4,00,000 - 6,00,000 P.A. As per industry standard  ',
       '    1,25,000 - 3,25,000 P.A.  ',
       '    3,50,000 - 6,00,000 P.A. reimbursement will be given  ',
       '    20,00,000 - 27,50,000 P.A. Best In The Industry  ',
       '    22,50,000 - 27,50,000 P.A.  ',
       '    3,00,000 - 6,00,000 P.A. No bar for the right candidate...  ',
       '    1,25,000 - 1,50,000 P.A. Quarterly incentives & Annual ...  ',
       '    50,00,000 - 80,00,000 P.A.  ',
       '    18,00,000 - 22,50,000 P.A.  ',
       '    6,00,000 - 16,00,000 P.A. Qualcomm provides our employe...  ',
       '    35,00,000 - 45,00,000 P.A. Best In The Industry  ',
       '    11,00,000 - 17,00,000 P.A.  ',
       '    8,00,000 - 11,00,000 P.A.  ',
       '    11,00,000 - 21,00,000 P.A.  ',
       '    2,75,000 - 5,50,000 P.A.  ', '    2,00,000 - 3,25,000 P.A.  ',
       '    4,50,000 - 9,00,000 P.A.  ',
       '    1,25,000 - 2,50,000 P.A. Attractive Incentives!!  ',
       '    2,00,000 - 6,00,000 P.A.  ', '    35,000 - 45,000 P.A.  ',
       '    6,00,000 - 16,00,000 P.A.  ',
       '    20,00,000 - 30,00,000 P.A.  ',
       '    45,00,000 - 70,00,000 P.A.  ',
       '    25,00,000 - 30,00,000 P.A.  ',
       '    8,00,000 - 11,00,000 P.A. Pf+bonus+medical Insurance  ',
       '    50,00,000 P.A.  ',
       '    10,00,000 - 11,00,000 P.A. Salary + PF + Bonus + Medica...  ',
       '    10,00,000 - 12,00,000 P.A.  ',
       '    7,00,000 - 9,00,000 P.A.  ',
       '    3,50,000 - 4,25,000 P.A. Incentives  ',
       '    4,75,000 - 9,50,000 P.A.  ', '    2,00,000 - 3,00,000 P.A.  ',
       '    Scale of Pay: Minimum Pay of Rs.20140 in PB3 (Rs.15600 ...  ',
       '    Scale of Pay: Minimum Pay of Rs.30000 in PB3 (Rs.15600 ...  ',
       '    Scale of Pay:- Minimum Pay of Rs.42800 in PB4 (Rs.37400...  ',
       '    Minimum Pay of Rs.48000 in PB4 (Rs.37400 - 67000) plus ...  ',
       '    7,00,000 - 15,00,000 P.A.  ',
       '    8,50,000 - 12,00,000 P.A.  ',
       '    Rs.15,600-39,100 (PB-3) with AGP of Rs. 7000/-  ',
       '    Rs.15,600-39,100 (PB-3) with AGP of Rs. 6000/- + 07 add...  ',
       '    Rs.15,600-39,100 (PB-3) with AGP of Rs. 8000  ',
       '    Rs.37400-67000 (PB-4) with AGP 9500/-  ',
       '    Rs.37400-67000 (PB-4) with AGP 10500/-  ',
       '    Scale of Pay (is revised periodically as per GoI order)...  ',
       '    PB-3 Rs. 15600 - Rs. 39100/- + AGP Rs. 8000/-  ',
       '    PB-4: Rs. 37400 - Rs. 67000 + Academic Grade Pay Rs. 9500  ',
       '    PB-4: Rs. 37400 - Rs. 67000 + Academic Grade Pay Rs. 10500  ',
       '    7,00,000 - 10,00,000 P.A.  ',
       '    14,00,000 - 20,00,000 P.A.  ',
       '    6,50,000 - 16,50,000 P.A.  ',
       '    10,00,000 - 20,00,000 P.A. DOE  ',
       '    7,00,000 - 14,00,000 P.A.  ',
       '    45,00,000 - 65,00,000 P.A.  ',
       '    7,00,000 - 16,00,000 P.A.  ',
       '    8,00,000 - 12,00,000 P.A.  ',
       '    1,00,000 - 6,00,000 P.A. Best In the Industry  ',
       '    9,00,000 - 13,00,000 P.A.  ',
       '    2,00,000 - 4,00,000 P.A.  ', '    3,00,000 - 7,00,000 P.A.  ',
       '    13,00,000 - 15,00,000 P.A.  ',
       '    50,00,000 - 70,00,000 P.A.  ',
       '    35,00,000 - 45,00,000 P.A.  ',
       '    8,00,000 - 17,00,000 P.A.  ',
       '    25,00,000 - 37,50,000 P.A.  ',
       '    40,00,000 - 60,00,000 P.A.  ',
       '    10,00,000 - 17,00,000 P.A.  ',
       '    17,00,000 - 22,50,000 P.A.  ',
       '    8,00,000 - 15,00,000 P.A.  ',
       '    16,00,000 - 20,00,000 P.A.  ',
       '    1,50,000 - 6,00,000 P.A.  ',
       '    4,50,000 - 8,00,000 P.A. Best in industry  ',
       '    2,50,000 - 3,00,000 P.A.  ', '    1,25,000 - 6,25,000 P.A.  ',
       '    15,00,000 - 20,00,000 P.A. Sign-on Bonus, Relocations C...  ',
       '    2,00,000 - 3,00,000 P.A. Huge process incentives, Shift...  ',
       '    5,00,000 - 8,00,000 P.A. 5 day week company. Incentives...  ',
       '    20,00,000 - 35,00,000 P.A. !!!!! Immediate joiners will...  ',
       '    25,00,000 - 32,50,000 P.A.  ',
       '    6,00,000 - 14,00,000 P.A.  ',
       '    5,00,000 - 7,50,000 P.A.  ', '    3,50,000 - 7,00,000 P.A.  ',
       '    12,00,000 - 22,00,000 P.A. Excellent Salary  ',
       '    15,00,000 - 25,00,000 P.A. Best Salary offering reputed...  ',
       '    9,00,000 - 15,00,000 P.A. Excellent Salary  ',
       '    40,00,000 - 80,00,000 P.A.  ',
       '    4,00,000 - 5,00,000 P.A.  ',
       '    3,00,000 - 7,00,000 P.A. + Both side Pick/drop + Incent...  ',
       '    4,00,000 - 7,00,000 P.A. Very Attractive Performance In...  ',
       '    4,00,000 - 7,00,000 P.A. All employee benefits & perks ...  ',
       '    7,50,000 - 17,50,000 P.A.  ',
       '    30,000 - 40,000 P.A. Generous Equity  ',
       '    1,50,000 - 3,25,000 P.A.  ',
       '    8,00,000 - 18,00,000 P.A. Salary Not a constraint for t...  ',
       '    2,00,000 - 5,00,000 P.A.  ',
       '    2,25,000 - 3,50,000 P.A. Negotiable  ',
       '    30,00,000 - 35,00,000 P.A.  ',
       '    4,00,000 - 7,50,000 P.A. Salary Not A Constraint For De...  ',
       '    50,00,000 - 1 Cr & above P.A. 75.00 LPA - 1.0 Cr  ',
       '    15,00,000 - 20,00,000 P.A. Relocation bonus, Variable pay  ',
       '    Pay Scale:70,000 -75,000  ',
       '    Pay Scale:90,000 -1,00,000  ',
       '    6,50,000 P.A. Your initial compensation will be INR 6.5...  ',
       '    5,00,000 - 6,50,000 P.A.  ',
       '    15,00,000 - 27,50,000 P.A.  ', '    Rs. 28,000/-  ',
       '    Rs. 36,000/-  ', '    Rs. 48200/50600/53000/55400/57800/-  ',
       '    11,00,000 - 15,00,000 P.A.  ',
       '    4,00,000 - 4,50,000 P.A.  ',
       '    6,50,000 - 13,00,000 P.A.  ',
       '    8,50,000 - 13,00,000 P.A.  ',
       '    6,00,000 - 8,50,000 P.A.  ',
       '    Pay Level 11 of VII CPC (Pay Band PB-3 Rs.15600-39100 +...  ',
       '    9,00,000 - 11,00,000 P.A.  ',
       '    11,00,000 - 20,00,000 P.A.  ',
       '    5,00,000 - 11,00,000 P.A.  ',
       '    5,00,000 - 8,00,000 P.A.  ',
       '    17,00,000 - 32,00,000 P.A.  ',
       '    3,25,000 - 8,25,000 P.A.  ',
       '    10,00,000 - 20,00,000 P.A. Best In The Industry  ',
       '    2,25,000 - 5,50,000 P.A. Best  in Industry Salary Packa...  ',
       '    50,00,000 - 90,00,000 P.A.  ',
       '    30,00,000 - 45,00,000 P.A.  ',
       '    10,00,000 - 20,00,000 P.A. As per Corrent CTC & Eperien...  ',
       '    9,00,000 - 19,00,000 P.A.  ',
       '    20,00,000 - 30,00,000 P.A. Competitive Remuneration Pac...  ',
       '    35,00,000 - 50,00,000 P.A.  ',
       '    7,00,000 - 17,00,000 P.A. Best in the Industry  ',
       '    5,00,000 - 9,00,000 P.A.  ',
       '    30,00,000 - 35,00,000 P.A. Excellent Perks and faciliti...  ',
       '    90,000 - 1,25,000 P.A.  ', '    20,00,000 - 32,50,000 P.A.  ',
       '    5,00,000 - 9,50,000 P.A.  ', '    5,50,000 - 7,00,000 P.A.  ',
       '    8,00,000 - 9,50,000 P.A.  ', '    6,00,000 - 9,00,000 P.A.  ',
       '    3,50,000 - 5,00,000 P.A.  ', '    4,75,000 - 8,00,000 P.A.  ',
       '    4,50,000 - 7,50,000 P.A.  ',
       '    9,50,000 - 11,00,000 P.A.  ',
       '    2,75,000 - 5,00,000 P.A.  ',
       '    6,00,000 - 10,00,000 P.A.  ',
       '    7,50,000 - 12,00,000 P.A.  ',
       '    11,00,000 - 14,00,000 P.A.  ',
       '    5,50,000 - 9,50,000 P.A.  ',
       '    8,00,000 - 14,00,000 P.A.  ',
       '    5,50,000 - 15,00,000 P.A.  ',
       '    7,00,000 - 8,50,000 P.A.  ', '    1,50,000 - 3,00,000 P.A.  ',
       '    2,25,000 - 3,25,000 P.A.  ',
       '    7,50,000 - 11,00,000 P.A.  ',
       '    5,00,000 - 10,00,000 P.A. Very competitive salary packages  ',
       '    9,00,000 - 15,00,000 P.A.  '], dtype=object)

# Work with Text Column

In [20]:
jobs['no_of_location']=jobs['location'].str.split(',').str.len()

In [21]:
jobs['no_of_location']

0       1
1       1
2       5
3       3
4       1
       ..
3995    2
3996    1
3997    1
3998    1
3999    1
Name: no_of_location, Length: 4000, dtype: int64

In [22]:
jobs['experience'].str.split('').str[0].str.split('-').str[0].str.split('-').str[0]

0
1
2
3
4
       ..
3995
3996
3997
3998
3999
Name: experience, Length: 4000, dtype: object

In [23]:
import re 

exp=jobs.iloc[0]['experience']
print(exp)

print(re.findall('[0-9,a-z,A-Z\s]+','1234-5678'))

2-4 yrs
['1234', '5678']

In [24]:
pattern='[0-9]+-([0-9]+)'
exps=jobs['experience'].head(5).tolist()
[re.findall(pattern,i) for i in exps]

[['4'], ['8'], ['10'], ['12'], ['11']]

In [25]:
pattern='[0-9]+-([0-9]+)'