In [40]:
import pandas as pd
import numpy as np

In [42]:
df=pd.read_csv('ratings_Books.csv')
df.head()

    AH2L9G3DQHHAJ  0000000116  4.0  1019865600
0  A2IIIDRK3PRRZY  0000000116  1.0  1395619200
1  A1TADCM7YWPQ8M  0000000868  4.0  1031702400
2   AWGH7V0BDOJKB  0000013714  4.0  1383177600
3  A3UTQPQPM4TQO0  0000013714  5.0  1374883200
4   A8ZS0I5L5V31B  0000013714  5.0  1393632000

In [5]:
chunk_size = 1000000
data_handler = pd.read_csv('ratings_Books.csv', chunksize=chunk_size,
                           header=None)
results = []
for i, chunk_data in enumerate(data_handler):
  rating_values = chunk_data.iloc[:, 2]
  chunk_summary = {
      'chunk_rating_sum': rating_values.sum(),
      'chunk_rating_count': rating_values.count()
  }
  results.append(chunk_summary)
print('No. of chunks: %d' % i)

No. of chunks: 22

In [6]:
chunk_data

                       0           1    2           3
22000000  A2OAAULW8CXMU1  B00HDZJN8A  3.0  1404691200
22000001  A3CIIU9YNK53VK  B00HDZJN8A  4.0  1401753600
22000002  A273ZCLTIFFDIO  B00HDZJN8A  5.0  1402617600
22000003  A1ZR6YCZ3HDDKI  B00HDZJN8A  5.0  1402876800
22000004  A39N24TTLP6I48  B00HDZJN8A  5.0  1389744000
...                  ...         ...  ...         ...
22507150  A20KO0BPMNREJL  B00M13FNSS  5.0  1406073600
22507151  A1BQO66R6OLCCW  B00M13FNSS  5.0  1406073600
22507152  A1CI87FHKK6HVC  B00M13FNSS  5.0  1406073600
22507153   A8W4BR3HGGS3C  B00M13FNSS  5.0  1406073600
22507154  A2NRGE3CSFY2TQ  B00M13FNSS  5.0  1406073600

[507155 rows x 4 columns]

In [7]:
df_results = pd.DataFrame(results)
avg_rating = df_results['chunk_rating_sum'].sum() / df_results['chunk_rating_count'].sum()
avg_rating

4.29575892643917

In [17]:
with open('pg67371.txt', 'r') as file_handler:
  text = file_handler.read()
len(text)

UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 1935: character maps to <undefined>

In [22]:
with open('pg67371.txt', 'rb') as file_handler:
  text = file_handler.read()
text[:100]

b'The Project Gutenberg eBook of Bokwala, by A Congo Resident\r\n\r\nThis eBook is for the use of anyone a'

In [23]:
with open('pg67371.txt', 'rb') as file_handler:
  lines = file_handler.readlines()
lines[:5]

[b'The Project Gutenberg eBook of Bokwala, by A Congo Resident\r\n',
 b'\r\n',
 b'This eBook is for the use of anyone anywhere in the United States and\r\n',
 b'most other parts of the world at no cost and with almost no restrictions\r\n',
 b'whatsoever. You may copy it, give it away or re-use it under the terms\r\n']

In [31]:
file_handler = open('pg67371.txt', 'rb')

In [33]:
file_handler.seek(0)  # move the cursor at begning of the file
file_handler.readline().decode('utf-8')

'The Project Gutenberg eBook of Bokwala, by A Congo Resident\r\n'

In [36]:
text = 'this is first line\n'
with open('log.txt', 'a') as file_handler:
  file_handler.write(text)

In [37]:
import os
os.getcwd()

'C:\\Users\\11602\\Desktop\\DS_Course\\Python_Classes'